a{
    text-decoration:none;
    color:black;
    font-size:30px;
    transition:0.5s;
}
a:hover{
    transition:0.5s;
    color:red;
}
header{
    width:100%;
    word-spacing:150px;
}
body{
    text-align:center;
}
p{
    font-size:20px;
}
.grid-container{
column-count:4;
margin-top:20px;
column-gap:30px;
}
.grid-imgs{
    width:80%;
    height:80%;
    border-radius:10px;
    object-fit:cover;
    transition-duration:0.25s;
}
.grid-imgs:hover{

}
.masonryblocks{
    display:inline-block;
    box-sizing:border-box;
    width:auto;
    margin: 0 0 15px;
  }
  article{
      font-size:20px;
      word=wrap:80%;
  }