a{
    text-decoration:none;
    color:black;
    font-size:30px;
    transition:0.5s;
    transition: all 0.5s ease-in;
}
a:hover{
    transition:0.5s;
    background:linear-gradient(to bottom, #ff3400 50%, white 50%);
    background-size:88% 197%;
    background-position:bottom;
    transition: all 0.5s ease-in;
}
header{
    width:100%;
    word-spacing:150px;
    height:auto;
    opacity:0.8;
    
}
body{
    text-align:center;
}
p{
    font-size:20px;
}
.grid-container{
column-count:1;
margin-top:20px;
column-gap:30px;
}
.grid-imgs{
    width:50%;
    height:50%;
    border-radius:10px;
    object-fit:cover;
    transition-duration:0.25s;
}
.grid-imgs:hover{
    width:90%;
    height:90%;
}
.masonryblocks{
    display:inline-block;
    box-sizing:border-box;
    width:auto;
    margin: 0 0 15px;
  }
  article{
      font-size:20px;
      word-wrap:80%;
  }
  .page-numbers{
      display:inline;
  }
  .page-number{
      padding:12px 16px 12px 16px;
      margin-right:20px;
      border:solid 1px red;
      transition:0.5s;
     
  }
  .page-number:hover{
    background: linear-gradient(to bottom right,  white 50%, #34526D 50%);
    background-size: 200% 150%;
    background-position: right bottom;
    transition: all 0.5s ease-out;
    border-radius:50%;
  }
  #page-number-spacing{
      display:flex;
      justify-content: center;
  }